@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './containers/modalContainer';
@import './layouts/modalLayout';
@import './components/button';
@import './components/inputTextComponent';
@import "./components/dropDownComponent";