.dropdown-component {
    @apply relative inline-block text-left;

    .dropdown-items {
        @apply origin-top-right absolute left-0 mt-2 min-w-fit w-full rounded-md shadow-lg;

        &.items-primary {
            @apply ring-indigo-500 ring-opacity-5;
        }

        &.items-secondary {
            @apply ring-black ring-opacity-5;
        }

        &.items-danger {
            @apply ring-red-500 ring-opacity-5;
        }
    }

    .dropdown-item-selected,
    .dropdown-item-selected-rounded {
        &.selected-primary {
            @apply focus:ring-indigo-500;
        }

        &.selected-secondary {
            @apply focus:ring-gray-500;
        }
        &.selected-danger {
            @apply focus:ring-red-500;
        }
    }

    .dropdown-item-selected {
        @apply inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100;
    }

    .dropdown-item-selected-rounded {
        @apply bg-gray-100 rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500;
    }

    .active-dropdown {
        &.primary{
            @apply bg-indigo-200;
        }

        &.secondary{
            @apply bg-gray-200;
        }

        &.danger{
            @apply bg-red-200;
        }
    }
}
