.modal-layout {
    @apply relative h-full pt-5 pb-4 text-left overflow-hidden transform transition-all sm:w-full mt-2;

    .body{
        @apply mt-2 overflow-auto;
        max-height: 85%;
    }

    .footer-actions {
        @apply mt-2 flex flex-row gap-4 px-1;

        &.end {
            @apply justify-end;
        }

        &.start {
            @apply justify-start;
        }

        &.center {
            @apply justify-center;
        }

        &.around {
            @apply justify-around;
        }
    }
}
